/* --------------- General ---------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* ------------------ HEADER ------------------ */
header {
    background-color: #1E1E1E;
    padding-bottom: 15px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #1E1E1E;
    height: 20%;
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.logo {
    padding: 0;
    width: 220px;
    height: 80px;
}
.logo figure {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.logo img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid 2px #AFF4C6;
}

header input {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.login {
    padding: 0;
    width: 50px;
    height: 50px;
}
.login button {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.login img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: solid 2px grey;
}

/* ------------------- NAV ---------------------- */
nav{
    background: #AFF4C6;
}

.navegador{
   /*  display: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navegador li{
    margin: 10px;
    padding: 10px;
    width: 18%;
    justify-content: center;
    text-align: center;
    background-color: #1E1E1E;
    border-radius: 5px;
}

.navegador a{
    color: white;
}

/* ----------------- MAIN ---------------------- */

main {
    background-color: red;
}

.areaDeProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(188, 230, 188);
    width: 100%;
}

section div {
    width: 400px;
    height: 500px;
    margin: 40px;
    background-color: #FFFFFF;
    padding: 15px;
    border: solid 3px grey;
    border-radius: 5px;
}

.imagenDeProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid grey 1px;
    height: 220px;
}

.imagenDeProducto img {
    width: 100%;
    height: 100%;
}

.areaDeProductos h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

section div button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-style: none;
    background-color: #FFFFFF;
}
section div button a{
    padding: 5px;
    color: white;
    background-color: black;
    font-size: large;
    border: solid 2px black;
    border-radius: 7px;
}


/* ----------------------- FOOTER ------------------------ */

footer {
   display: flex;
   justify-content: end;
   padding: 40px;
   height: 220px;
   background-color: #1E1E1E;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
 }

#seguinos {
    margin: 10px;
}

footer p {
    text-align: center;
    color: white;
    font-size: larger;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 50px;
} 
* .redesSociales a {
    margin: 5px;
    border-radius: 100%;
} 
.redesSociales img {
    border-radius: 100%;
    border: solid 2px grey;
}